
@{
    ViewData["Title"] = "Add New";
}

<h2>Add New Application To List</h2>
<form action="/AppList/CreateApp" method="post">
    ID: <br/>
    Application Name: <input type="text" , id="TxtApplicaiton" , name="Application" /><br />
    Funcational Area: <input type="text" , id="TxtFuncationalArea" , name="FuncationalArea" /><br />
    Application Description: <input type="text" , id="TxtApplicationDescription" , name="ApplicationDescription" /><br />
    Enterprise vs. Plant Specific: <input type="text" , id="TxtEnterprisevsPlantSpecific" , name="EnterprisevsPlantSpecific" /><br />
    Architecture Layer: <input type="text" , id="TxtArchitectureLayer" , name="ArchitectureLayer" /><br />
    Notes: <input type="text" , id="TxtNotes" , name="Notes" /><br />
    Busienss Owner: <input type="text" , id="TxtBusienssOwner" , name="BusienssOwner" /><br />
    IT Owner: <input type="text" , id="TxtITOwner" , name="ITOwner" /><br />
    Tech Owner: <input type="text" , id="TxtTechOwner" , name="TechOwner" /><br />
    Path: <input type="text" , id="TxtPath" , name="Path" /><br />
    Location Used: <input type="text" , id="TxtLocationUsed" , name="LocationUsed" /><br />
    Application Type: <input type="text" , id="TxtApplicationType" , name="ApplicationType" /><br />
    Types of Users: <input type="text" , id="TxtTypesofUsers" , name="TypesofUsers" /><br />
    <hr /><br />
    Availability: <input type="text" , id="TxtAvailability" , name="Availability" /><br />
    Montlhy Down Time Allowed: <input type="text" , id="TxtMnthlyDwnTmeMax" , name="MnthlyDwnTmeMax" /><br />
    Priority Level: <input type="text" , id="TxtPriorityLevel" , name="PriorityLevel" /><br />
    Database: <input type="text" , id="TxtDB" , name="DB" /><br />
    Commments: <input type="text" , id="TxtInfraComment" , name="InfraComment" /><br />
    Cloud, on Premises SaaS: <input type="text" , id="TxtCloudOn-PremSAAS" , name="CloudOnPremSAAS" /><br />
    Operating System: <input type="text" , id="TxtOS" , name="OS" /><br />
    <hr /><br />
    Master Data Requirement: <input type="text" , id="TxtMasterDataReq" , name="MasterDataReq" /><br />
    GDPR Criticaity: <input type="text" , id="TxtGDPRCriticality" , name="GDPRCriticality" /><br />
    EMEAI Go Live Date: <input type="text" , id="TxtEMEAIGoLiveDate" , name="EMEAIGoLiveDate" /><br />
    Data Protetion Questionaire Complete Prior to Fusion: <input type="text" , id="TxtDPQCmpltePriorToFusion" , name="DPQCmpltePriorToFusion" /><br />
    Data Protetion Questionaire Complete Prior for Fusion: <input type="text" , id="TxtDPQCmpltePriorForFusionChanages" , name="DPQCmpltePriorForFusionChanages" /><br />
    Data Privacy Approval: <input type="text" , id="TxtDataPrivacyApproval" , name="DataPrivacyApproval" /><br />
    IT Security Approval: <input type="text" , id="TxtITSecurity" , name="ITSecurityApproval" /><br />
    Work Council Approval Required: <input type="text" , id="TxtWCApprovalRequired" , name="WCApprovalRequired" /><br />
    Work Council Questionaire Sent: <input type="text" , id="TxtWCQuestionaireSent" , name="WCQuestionaireSent" /><br />
    Work Council Questionaire Complete: <input type="text" , id="TxtWCQuestionaireComplete" , name="WCQuestionaireComplete" /><br />
    Work Council Aproved: <input type="text" , id="TxtWCApproved" , name="WCApproved" /><br />
    <hr /><br />
    SAP: <input type="text" , id="TxtSAP" , name="SAP" /><br />
    Integrated: <input type="text" , id="TxtIntegrated" , name="Integrated" /><br />
    Integrated with SAP: <input type="text" , id="TxtSAPIntegration" , name="SAPIntegration" /><br />
    Fusion Strategy: <input type="text" , id="TxtFusionStrategy" , name="FusionStrategy" /><br />
    Legacy Company Originator: <input type="text" , id="TxtLegacyOriginator" , name="LegacyOriginator" /><br />
    SAP Area: <input type="text" , id="TxtSAPArea" , name="SAPArea" /><br />
    <hr /><br />
    <input type="submit" name="BtnSave" value="Save" />
    <input type="submit" name="BtnDelete" value="Delete" />
    <input type="button" name="BtnReset" value="Reset" />
</form>



